<configuration scan="true" scanPeriod="60 seconds">

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/var/log/provider-fun/${HOSTNAME}-${CONTEXT_NAME}.log
		</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.home}/var/log/provider-fun/${HOSTNAME}-${CONTEXT_NAME}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 1GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] [%logger{64}:%line]: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONTEXT_NAME}: %level [%thread] [%logger{64}:%line]: %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.smeup.provider.log.LoggedInterceptor" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
